/* css/layout.css */

body {
    overflow-x: hidden; /* Horizontales Scrollen verhindern */
   padding-top: 60px;  /* Platz für festes Logo/Button */
}
.background-container, .bg-layer, .bg-layer video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
}

/* Media Queries für das grundlegende Layout */
@media (min-width: 769px) {
   body {
       overflow: auto;  /* Scrollen wieder erlauben auf großen Bildschirmen */
       padding-top: 0;
   }
}


.content-container {
   max-width: 1200px; /* Oder eine andere maximale Breite */
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   margin-top: 70px;}

.content-container img {
   max-width: 100%;
   height: auto;
   

}

.content-container h2 {
   border-bottom: 1px solid #5f5f5f; /* Trennstrich hinzufügen */

}